---
layout: default
permalink: /
---

<div class="home">

  <img class="index-image right" src="/images/it-me.jpg" />

  <p><a href="https://soundcloud.com/onionslice">music</a>, <a href="https://soundcloud.com/agent-a-1">more music</a>, <a href="https://github.com/michaelpace">code</a>, <a href="http://www.last.fm/user/mspasta/">listening habits</a>, <a href="https://www.goodreads.com/user/show/44054775-mchl-pc">reading habits</a>, <a href="https://www.are.na/mchl-pc/channels">bookmarking</a>, <a href="https://twitter.com/incrediblepasta/">tweets</a>, <a href="http://linkedin.com/in/michaelstuartpace">work history</a>. <a href="mailto:mpace1027@gmail.com">email me</a>.</p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">📅 {{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-content">{{ post.content }}</p>

        {% if post.tags.first %}
        <div class="post-tags">
          <span class="post-meta">👉 |</span>
          {% for tag in post.tags %}
          <span class="post-meta"><a class="post-meta" href="/tag/{{tag}}">{{ tag }}</a> |</span>
          {% endfor %}
          <span class="post-meta">👈</span>
        </div>
        {% endif %}
        
        <hr />
      </li>
    {% endfor %}
  </ul>

</div>
