/**
* Site-wide
*/

.home {
    position: relative;
}

.hoverable-data:hover:after {
    content: attr(data);
    position: absolute;
    background: white;
    color: $text-color;
    background-color: $brand-color-light;
    font-size: $small-font-size;
    padding: 0px 4px;
    margin-left: 10px;
}

.emoji-divider {
    font-size: 50px;
}

/**
* Index
*/

.index-heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    font-size: 40px;
}

.index-image {
    max-width: 33%;
    margin: 0 16px;
    display: block;
    float: right;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color-dark;
    border-bottom: 1px solid $brand-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.trigger {
    float: right;
    line-height: 56px;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $brand-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $brand-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}





.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 40px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brand-color;
}

.post-link {
    display: block;
    font-size: 18px;
}

.post-tags {
    margin-bottom: $spacing-unit;
    background-color: $background-color;
    text-align: center;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    background-color: $brand-color-light;
    padding: $spacing-unit 0;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Project page
 */

.project-title {
    margin: 0 0;
}

.project-description {
    padding-left: $spacing-unit;
}

.project-details {
    font-size: $small-font-size;
    margin: 0 0;
}

.project-status-in-progress {
    background-color: yellow;
}
.project-status-in-progress:after {
    content: "in progress"
}

.project-status-done {
    background-color: lighten(green, 50%);
}
.project-status-done:after {
    content: "done"
}

.project-status-not-started {
    background-color: pink;
}
.project-status-not-started:after {
    content: "not started"
}

.project-status-shelved {
    background-color: yellow;
}
.project-status-shelved:after {
    content: "shelved"
}